@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  background: #9B9999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  width: 5px;
  background: #5A5A5A;
  border-radius: 10px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    padding-left: 0;
}

p{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 860px;    
    margin: 0 auto;
    background: #E7E7E7;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    max-height: 540px;
}

.container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.button{
    background: #ADC6AC;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.first-text{
    font-size: 50px;
    font-weight: inherit;
    line-height: 61px;
    margin: 0px;
}

.first-button{
    width: 458px;
    height: 80px;
    padding: 15px 32px;
}


/*page 2*/
h2{
    height: 39px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
}

form p {
    position: relative;
    margin-top: 16px;
}

form label{
    position: absolute;
    top: 10px;
    left: 15px;
    pointer-events: none;
    transition: all 0.2s ease;
    font-size: 17px;
    color: #9B9999;
}

form input {
    width: 365px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #9B9999;
    border-radius: 10px;
    padding-left: 15px;
}

#submitBtn{
    margin-top: 17px;
    background: #ADC6AC;
    font-family: 'Inter';
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #5A5A5A;
}

h5 a{
    color:  #000000; 
    font-weight: 500;
}

/*page 4*/
.verification {
    width: 365px;
    height: 93px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    
    color: #5A5A5A;
}

.verification span{
    color: #000000;
}

.confirmation{
    margin-top: 52px;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #ADC6AC;
    cursor: pointer;
}

.authorization{
    margin-top: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #5A5A5A;
}

.authorization a{
    color: #000;
    cursor: pointer;
    font-weight: 500;
}

/***********************header***************/
.header {
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.logo img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.logo p{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.main-container{
  padding: 10px 15px;
}

.main-menu{
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

#profile-pic{
  cursor: pointer;
  position: relative;
}

/*************************menu*********************/
#popup-window {
  display: none;
  position: absolute;
  top: 40px;
  right: calc(50% - 400px); /* added */
  width: 262px;
  height: 158px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1;
}

.popup-window-content{
  margin-left: 14px;
  margin-top: 15px;
}

.name{
  width: 251px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5A5A5A;
}

.email{
  width: 230px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #9B9999;
}

.popup-item {
  width: 230px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #5A5A5A;
}

.subscription{
  margin-top: 12px;
  margin-bottom: 15px;
}

#subscription-button{
  color: #000;
}

.exit{
  cursor: pointer;
  margin-top: 5px;
}

.popup-item button{
  width: 89px;
  height: 22px;
  background: #DFDFDF;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.popup-item button p{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

/*****************************modal*****************************/
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.61);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 15% auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-form p{
  height: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.main-form textarea{
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  resize: none;
  background: none;
  outline: none!important;
} 

.error{
  cursor: pointer;
}

#error-text{
  padding: 10px 14px;
  width: 342px;
  height: 31px;
  font-size: 12px;
  line-height: 15px;
}

.error-button{
  background: #F8F7F7;
  color: #000;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  width: 97px;
  height: 34px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.error-button:hover{
  background: #DFDFDF;
}



/*subscr*/
#duration{
  height: 44px;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
  display: flex;
  align-items: center;
}

#price{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.switch-button{
  font-size: 19px;
  color: #000000;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  height: 44px;
}

.additional-button{
  background: #F8F7F7;
  border-radius: 10px;
  border: none;
  width: 97px;
  height: 34px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #000;
}

.additional-button:hover{
  background: #DFDFDF;
}



/****************************app*********************/
#app {
  height: 394px;
  background: #E7E7E7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background:  #D9D9D9;
}

.chat {
  width: 90%;
  max-width: 860px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 6px;

  background: #ADC6AC;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #5A5A5A;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #000;
  font-size: 14px;
  line-height: 17px;

  max-width: 100%;
  overflow-x: scroll;
  

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}
#chat-form::-webkit-scrollbar {
  display: none;
}

#chat-form {
  width: 100%;
  max-width: 724px;
  margin: 0 auto;
  padding: 10px;

  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 57px; 
}

textarea {
  width: 100%;

  color: #000;
  font-size: 14px;
  line-height: 17px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #5A5A5A;

  position: sticky;
  top: 95px;
  cursor: pointer;
}
